# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build output
/dist/
/.next/
/backend/dist/

# Environment files
.env
.env.*
!.env.example
!*.env.example

# macOS
.DS_Store

# Misc
.idea/
.vscode/ 